a {
  cursor: pointer;
  text-decoration: none !important;
}

.md-button {
  margin: 0;
}

.md-list-item-text {
  flex-direction: row !important;
}

.elevation {
  box-shadow: 0 2px 8px 0 rgba(80,80,80,.10);
}
