@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'colors.scss';

@import "~vue-material/dist/theme/engine";
@include md-register-theme("default", (
  primary: $--primary-color,
  accent: $--secondary-color,
  background: $--background,
  text: $--default-text,
));
@import "~vue-material/dist/theme/all";

#App {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@import 'overrides.scss'
